html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  #root {
    height: 100%;
    background: $dark-background;
    color: $white-text;
  }
}

$button-border-radius: 0.25em;
$transition-basic: all 0.3s;
