@mixin iterateColors($color-array) {
  &:first-of-type {
    background-color: map-get($color-array, A);
  }
  &:nth-of-type(2) {
    background-color: map-get($color-array, B);
  }
  &:nth-of-type(3) {
    background-color: map-get($color-array, C);
  }
}
