.description-tab {
  white-space: pre-line;
}
.nav-item {
  &:not(:first-of-type) {
    margin-top: 5px;
  }
  .nav-link {
    transition: $transition-basic;
    color: $white-text;
    &-A {
      background: map-get($color-array, A);
    }
    &-B {
      background: map-get($color-array, B);
    }
    &-C {
      background: map-get($color-array, C);
    }
    &:hover,
    &.active {
      color: $dark-background;
      background-color: $white-text;
    }
  }
}
.current-track-description {
  font-size: 140%;
}
.current-track-description,
.milestone-summary {
  font-weight: 600;
  font-size: 120%;
}

.milestone-summary {
  padding-left: 40px;
}
